.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  }

#top {
  border: 2px solid lightgray;
  height: 50px;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  font-size: 13px;
  padding-left: 400px;
}

.language {
  margin-left: 570px;
  text-decoration: none;
}

.language:hover {
  color: #1b95e0;
  text-decoration: underline;
}

.left {
  color: #8899a6;
  text-decoration: none;
}

.left:hover {
  color: #1b95e0;
  border-bottom: 5px solid #1b95e0;
}

#main {
  border: 2px solid lightgray;
  height: 320px;
  width: 840px;
  background-color: #fff;
  margin: 10px auto;
  border-radius: 5px;
}

#logo {
  width: 25px;
  height: auto;
  padding-left: 10px;
  padding-top: 18px;
}

.email, .geslo {
  height: 30px;
  width: 290px;
  border-radius: 4px;
  border-color: #56b4ef;
  background-color: inherit;
  margin-left: 130px;
}

h1 {
  font-size: 24px;
  padding-left: 130px;
}

.input2 {
  margin-top: 15px;
}

button {
  color: white;
  font-weight: bold;
  background-color: #1da1f2;
  height: 36px;
  width: 80px;
  margin-top: 20px;
  border-radius: 5px;
}

.forgot {
  font-size: 13px;
  color: #1b95e0;
  text-decoration: none;
}

.forgot:hover {
  text-decoration: underline;
}

.box {
  margin-left: 10px;
  font-size: 13px;
}

.footer {
  height: 117px;
  width: 840px;
  background-color: #f4f4f4;
}

.footer1 {
  font-size: 13px;
  padding-top: 30px;
  padding-left: 120px;
}

.footer2 {
  font-size: 13px;
  padding-top: 10px;
  padding-left: 120px;
}

.signup {
  text-decoration: none;
  display: inline;
  color: #1b95e0;
}

.signup:hover {
  text-decoration: underline;
}

p, a {
  color: #8899a6;
  padding: 3px;
  margin: 10px auto;
  display: inline;
}

.login {
  padding-left: 130px;
}
